<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/x-handlebars-template">
   
</script>
    <title>Call number {{CallId}} Opened</title>
</head>
<body>
    
    <b>Hello {{userName}}</b><br/>
    <p>call information : {{description}}<br/>
        system : {{system}}<br/>
        assignee : {{assignee}}<br/>
        team : {{team}}
    </p>
    <br/>
    <b>view this call at this link <a href={{link}}>Click Here</a></b>

    
</body>
</html>