<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/x-handlebars-template">
   
</script>
    <title>Call number {{CallId}} Opened</title>
</head>
<body>
        <div>
            <img style="width:250px;" src="cid:logo"/>
        </div>
    <div style="background-color: mediumpurple; width:30%; height: 2px;">

    </div>
    <b style="font-size: large;">Hello {{userName}}</b><br/>
    <p>Call Information : {{description}}<br/>
        System : {{system}}<br/>
        Assignee : {{assignee}}<br/>
        Team : {{team}}
    </p>
    <br/>
    <b>View this call at this link <a href={{link}}>Click Here</a></b>

    
</body>
</html>